
.visx-tooltip-glyph {
    overflow-x: hidden;
}

body {
    overscroll-behavior: contain;
    overflow-x: hidden;
}

.mantine-damagerFooterLinkInput-input,
.mantine-damagerFooterLinkInput-root,
.mantine-damagerFooterLinkInput-wrapper {
    height: 24px !important;
    max-height: 24px !important;
    min-height: 24px !important;
    cursor: pointer;
}

.visx-heatmap-rect:hover {
    stroke: black;
    stroke-width: 2;
}

